{% extends 'layouts/layout.html' %}

{% block title %} {{title}} {% endblock %}


{% block content %}
    <h1 class="title"> {{title}} </h1>
    </hr>
    
    {% if messages %}
        {% for mensaje in messages %}
            <div class="alert alert-success">
                {{mensaje}}
            </div>
        {% endfor %}
    {% endif %}

    {% if user.email %}
    <h2>Bienvenido, {{request.user.first_name}} {{user.last_name}}</h2>
    <p>
        {{user.email}}
    </p>
    {% else %}
        <h3>Identifícate para ver más cosas</h3>
    {% endif %}


{% endblock %}